.rules_detail {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 100%;
}

.flex_wrapper {
  display: flex;
  flex-wrap: 'wrap';
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.content {
  margin-top: 20px;
  border: dashed 5px #000;
  background-color: white;
  width: 1000px;
}

.field {
  padding: 15px;
}

.field h4 {
  margin-left: 20px;
  font-size: 3rem;
  display: inline;
}

.field div {
  margin-top: 20px;
  font-size: 3rem;
  text-align: center;
}

.loading {
  padding-top: 20px;
  text-align: center;
}

.button_area div {
  color: white;
  font-size: 2rem;
}
