.dashboard {
  margin: 0 auto;
  padding-top: 20px;
  height: 100%;
}

.content {
  display: flex;
  flex-wrap: 'wrap';
  justify-content: center;
  box-sizing: border-box;
}

.chart {
  margin: 20px;
  padding: 20px;
  background-color: white;
  display: inline-block;
  width: 78%;
}
