.event {
  margin: 0 auto;
  padding-top: 20px;
}

.flex_wrapper {
  display: flex;
  flex-wrap: 'wrap';
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.loadmore:hover {
  background-color: rgba(0, 0, 0, 0);
}
