.rules_list {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 100%;
}

.flex_wrapper {
  display: flex;
  flex-wrap: 'wrap';
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.button_area div {
  color: white;
  font-size: 2rem;
}

.table {
  margin-top: 20px;
  padding: 5px;
  border: dashed 5px #000;
  background-color: white;
  width: 1000px;
  font-size: 7rem;
  text-align: center;
}

.table td {
  padding: 5px;
}

.loading {
  padding-top: 20px;
  text-align: center;
}
