.flex_wrapper {
  display: flex;
  flex-wrap: 'wrap';
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.hero {
  height: 80vh;
  background-color: #000;
  background-image: url("/assets/coinietrade-hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.hero h2 {
  margin-top: 5%;
  color: white;
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
}

.hero p {
  margin-top: 20px;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.login_form {
  margin-top: 20px;
  height: 300px;
  width: 500px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.login_form h3 {
  margin-top: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.7rem;
}

.login_form .button_area {
  margin-top: 40px;
}

.login_form .button_area span {
  color: white;
  font-size: 3rem;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  color: white;
  font-size: 2rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer span {
  color: white;
  font-size: 4rem;
}

.footer span:hover {
  color: lightgray;
}
